body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #111;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  height: 70vh;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.hero-text {
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 20px;
}

section {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.grid img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* THIS IS THE KEY */
  border-radius: 8px;
}

form {
  max-width: 400px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  background: #f2f2f2;
  padding: 15px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 15px;
  max-width: 900px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

